@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body {
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 8%);
    font-family: "Inter", sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
nav {
    background-color: hsl(0, 0%, 12%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.8rem;
    border-radius: 1rem;
}
img {
    width: 6.25rem;
    border-radius: 100%;
}
h1 {
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    font-size: 1.625rem;
    margin: 0;
    margin-top: 1.8rem;
}
h2 {
    color: hsl(75, 94%, 57%);
    font-weight: 600;
    font-size: 1rem;
    margin: .625rem;
}
p {
    font-weight: 400;
    font-size: .875rem;
    color: hsl(0, 0%, 57%);
    margin: 1.25rem;
}
ul {
    margin: 0;
    padding: 0;
}
li a {
    text-decoration: none;
    background-color: hsl(0, 0%, 20%);
    display: block;
    text-align: center;
    padding: 0.7rem 5.9rem;
    border-radius: .3rem;
    color: hsl(0, 0%, 100%);
    font-weight: 400;
}
li {
    list-style: none;
    margin: .75rem 0;
    padding: 0;
}
li a:hover {
    background-color: hsl(75, 94%, 57%);
    cursor: pointer;
    color: black;
}
.attribution { 
    font-size: .625rem; 
    text-align: center; 
    color: white;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
footer {
    margin: 1.25rem;
}

/* phones */
@media (max-width: 480px) {
    nav{
        padding: 1.25rem;
    }
    li a{
        padding: 0.7rem 4.5rem;  
    }
}
/* Low resolution tablets */
@media (min-width: 481px) and (max-width: 767px) {}
/* Tablets in portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {}